.card {
    margin: 0.4rem;
}

.cardContent {
    margin: 1rem;
    margin-top: 2rem;
}

.cardLastLine {
    margin-left: 1rem;
}

.tag {
    margin: 0.2rem;
}

.comments {
    margin-left: 1rem;
    margin-right: 1rem;
}

.likes {
    display: inline;
}